
#icons_footer{
    display: flex;
    justify-content:center;
    bottom: 106px;
    width: 100%;
    background-color: black;
    color: white;
    border-top: 3px solid;
    border-image: linear-gradient(to left, #000000,#822d11) 1 0 0 0; 
}

#icons_footer i{
    padding: 15px;
}


footer{    
    display: flex;
    justify-content: space-evenly; 
    background-color: black;    
    bottom: 38px;
    width: 100%;
}

#img_footer{
    display: flex;
    justify-content: center;
}

#link_footer{
    display: flex;
    justify-items: center;
    align-items: center;
}

#link_footer a{
    text-decoration: none;
    color: white;
    padding: 5px;
}



#copy{   
    display: flex;
    justify-content: center;
    text-decoration: none; 
         
}

#copy ul{
    display: flex;
    justify-content: center;
    padding: 0px;
   
      
}

#copy ul a{
    color: white;
    text-decoration: none;      
}

#john{
    display: flex;
    justify-content:center;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
}

#john a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    padding: 10px;
}
